---
import { Image } from 'astro:assets'

const { title, href, posts, imageSrc, imageAlt, subtitle } = Astro.props
---

<div class="px-auto items-start space-y-4">
  <a href={href} class="py-4 text-4xl font-bold hover:underline">
    Recent {title} Posts...
  </a>
  <div
    class="px-auto container mx-auto grid w-full max-w-3xl grid-cols-2 flex-wrap items-center gap-6 px-4 pb-12 pt-4 sm:grid-cols-3 md:grid-cols-4 lg:px-0"
  >
    {
      posts.map((post: any) => (
        <a href={`/${href}/${post.slug}`} class="flex flex-col">
          <div>
            <Image class="rounded shadow" src={imageSrc} alt={imageAlt} width="400" height="400" />
          </div>
          <p class="truncate pt-4 font-semibold">{title}</p>
          <p class="pt-1">{subtitle}</p>
        </a>
      ))
    }
  </div>
</div>
