---
import Layout from '@/layouts/layout.astro'
import AstroImage from '@/components/astro-image.astro'

import { getCollection } from 'astro:content'

const posts = (await getCollection('books')).sort((a, b) =>
  new Date(a.data.published) > new Date(b.data.published) ? -1 : 1,
)
---

<Layout title="Favorite Books" description="My favorite books.">
  <div
    class="container mx-auto grid w-full grid-cols-2 flex-wrap gap-4 px-2 md:grid-cols-3 md:px-4 lg:grid-cols-5"
  >
    {
      posts.map((post: any) => (
        <a href={`/books/${post.slug}`} class="flex flex-col">
          <div class="flex h-full flex-col justify-between rounded border border-gray-700 p-4 dark:bg-gray-900">
            <div transition:name={`book-${post.slug}`} class="m-auto">
              <AstroImage src={post.data.cover_image} alt={post.data.title} />
            </div>
            <div>
              <p class="truncate pt-4 font-semibold">{post.data.title}</p>
              <p class="pt-1">{post.data.author}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
