---
import { getCollection, getEntry } from 'astro:content'
import Layout from '@/layouts/content-layout.astro'
import { Image } from 'astro:assets'

// Static paths: only return params (no props)
export async function getStaticPaths() {
  const posts = await getCollection('movies')
  return posts.map((post) => ({
    params: { slug: post.slug },
  }))
}

// In the page: refetch the entry so we have methods like .render()
const { slug } = Astro.params
const post = await getEntry('movies', slug!)
if (!post) throw new Error('Not found')

const { Content } = await post.render()

const director_or_studio = post.data.director ? post.data.director : post.data.studio
---

<Layout title={post.data.title} description={post.data.title + '-' + director_or_studio}>
  <div
    class="container mx-auto flex max-w-screen-lg flex-col items-start overflow-hidden border-b border-gray-800 px-6 md:flex-row md:items-end lg:px-0"
  >
    <div class="relative mr-32 w-72 py-2 shadow-xl md:w-auto">
      <Image
        src={post.data.cover_art_url}
        alt={post.slug}
        width="300"
        height="300"
        class="relative block rounded-md bg-white"
        style={`view-transition-name: record-${post.slug};`}
      />
    </div>
    <div class="flex flex-1 flex-col justify-end pt-8">
      <h1 class="text-5xl font-bold tracking-tight">
        {post.data.title}
      </h1>
      <p class="mt-3 text-3xl">
        {
          post.data.director && post.data.studio
            ? post.data.director + ' - ' + post.data.studio
            : director_or_studio
        }
      </p>
      <p class="mt-2 text-lg">
        {post.data.genre[0]} — {post.data.release_date.toDateString()}
      </p>
    </div>
  </div>
  <div
    class="md:prose-md prose mx-auto px-6 py-2 dark:prose-invert md:prose-lg xl:prose-xl lg:px-0"
  >
    <Content />
  </div>
</Layout>
